@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(./img/fondo4.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 300px;
  display: block;
  margin: 100px auto 0 auto;
}
